h1, h2, h3{
    color:blue;
    display: flex;
    justify-content: center;
}

body{
   background-color: darkcyan; 
}

article {
    justify-content: center;
    font-size: 18px;
}

section {
    display: flex;
    justify-content: space-evenly;
}

ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li{
    flex-basis: 6%;
    text-align: left;
    padding: 0.4em ;
}

